p{
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(5, 4, 9);
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 20px;
    color: rgb(90, 125, 121);
}
header{
    background-color: aquamarine;
    color: rgba(45, 130, 180, 0.5);
    padding: 20px;
    text-align: center;
}
header h1{
    margin-bottom: 10px;
}
.navbar{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.navbar li a{
    color: #f4f0f0;
    text-decoration: none;
    font-weight: bold;
}
.navbar li a:hover {
    text-decoration: underline;
}
section {
    padding: 40px 20px;
    margin-top: 20px;
    background-color: #f4efef;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h2 {
    color: #4CAF50;
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.projects {
    margin-bottom: 20px;
}

/* Links in Contact */
#contact a {
    color: #4CAF50;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}